.firmar-contrato-container {
    padding: 100px 20px;
    text-align: center;
    height: 350px;
  }
  
  /* Estilo para los encabezados */
  h1, h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
  }
  
  /* Estilos para la lista de participantes */
  ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .listakey {
    display: flex; /* Usamos Flexbox para alinear el contenido */
    justify-content: space-between; /* Espacio entre el correo y el botón */
    align-items: center; /* Alinear verticalmente */
    padding: 15px;
    border: 1px solid #ddd; /* Borde ligero alrededor de cada elemento */
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff; /* Fondo blanco para contraste */
    transition: background-color 0.3s ease; /* Animación suave al hacer hover */
  }
  
  
  /* Estilos para los botones */
  .botoncorrec {
    padding: 10px 20px;
    background-color: #007b5e; /* El color verde de tu sitio */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animación suave */
  }
  
  /* Efecto hover en el botón */
  button:hover {
    background-color: #005b47; /* Un verde más oscuro al hacer hover */
    transform: translateY(-2px); /* Efecto de movimiento hacia arriba */
  }
  

  
  